@page "/"

<div>
     <h3>Productos</h3>
     <ListadoProducto Productos="ObtenerProductos()"></ListadoProducto>
   
</div>

@code
{
    List<Producto> ObtenerProductos()
    {
        return new List<Producto>()
        {
            new Producto{Nombre = "Rosa",Precio=750},
            new Producto{Nombre = "Verde",Precio=750}
        };
    }
  
}